{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Inclinet API",
    "description": "An API interact with the Inclinet service"
  },
  "host": "edd.ifa.hawaii.edu",
  "basePath": "/inclinet",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/api/pgc/{PGC_ID}": {
      "get": {
        "tags": [
          "Evaluations"
        ],
        "summary": "URL API that evaluates inclinations by providing the PGC ID in the URL",
        "parameters": [
          {
            "in": "path",
            "name": "PGC_ID",
            "type": "integer",
            "required": true,
            "description": "Numeric PGC ID of the galaxy (Example 2557)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/objname/{object_name}": {
      "get": {
        "tags": [
          "Evaluations"
        ],
        "summary": "URL API that evaluates inclinations by providing the galaxy name in the URL",
        "parameters": [
          {
            "in": "path",
            "name": "object_name",
            "type": "string",
            "required": true,
            "description": "Galaxy Name (Example Sombrero)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/getPGC": {
      "post": {
        "tags": [
          "PGC"
        ],
        "summary": "Get information about the galaxy providing the PGC ID",
        "description": "",
        "operationId": "getPGC",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "galaxy ID",
            "required": true,
            "schema": {
              "$ref": "#/definitions/getPGC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    },
    "/getObj": {
      "post": {
        "tags": [
          "Object"
        ],
        "summary": "Get information about the galaxy providing its common name",
        "description": "",
        "operationId": "getObj",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "galaxy name",
            "required": true,
            "schema": {
              "$ref": "#/definitions/getObj"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        }
      }
    }
  },
  "definitions": {
    "getPGC": {
      "type": "object",
      "required": [
        "pgc"
      ],
      "properties": {
        "pgc": {
          "type": "integer",
          "format": "int64",
          "example": 2557
        }
      }
    },
    "getObj": {
      "type": "object",
      "required": [
        "objname"
      ],
      "properties": {
        "objname": {
          "type": "string",
          "format": "string",
          "example": "M31"
        }
      }
    }
  }
}